@mixin sp {
    @media(max-width: 769px) {
        @content;
    }
}

@mixin tab {
    @media(max-width: 1100px) {
        @content;
    }
}

.mv {
    width: 100%;
    height: 600px;
    background-color: #D9D8D8;
    margin-top: 80px;
    margin-bottom: 30px;
    position: relative;

    @include sp {
        height: 84vh;
        margin-top: clamp(50px, 16vw, 16vh); // 最小50px, 最大80px, 画面幅に応じて変化
    }

    /*スクロールダウン全体の場所*/
    .scrolldown4 {
        /*描画位置※位置は適宜調整してください*/
        position: absolute;
        bottom: 1%;
        right: 50%;
        /*矢印の動き1秒かけて永遠にループ*/
        animation: arrowmove 1s ease-in-out infinite;
    }

    /*下からの距離が変化して全体が下→上→下に動く*/
    @keyframes arrowmove {
        0% {
            bottom: 1%;
        }

        50% {
            bottom: 3%;
        }

        100% {
            bottom: 1%;
        }
    }

    /*Scrollテキストの描写*/
    .scrolldown4 span {
        /*描画位置*/
        position: absolute;
        left: -20px;
        bottom: 10px;
        /*テキストの形状*/
        color: #333;
        font-size: 0.7rem;
        letter-spacing: 0.05em;
        /*縦書き設定*/
        -ms-writing-mode: tb-rl;
        -webkit-writing-mode: vertical-rl;
        writing-mode: vertical-rl;
    }

    /* 矢印の描写 */
    .scrolldown4:before {
        content: "";
        /*描画位置*/
        position: absolute;
        bottom: 0;
        right: -6px;
        /*矢印の形状*/
        width: 1px;
        height: 20px;
        background: #333;
        transform: skewX(-31deg);
    }

    .scrolldown4:after {
        content: "";
        /*描画位置*/
        position: absolute;
        bottom: 0;
        right: 0;
        /*矢印の形状*/
        width: 1px;
        height: 50px;
        background: #333;
    }

}

// 支援実績
#achievements {
    margin-bottom: 100px;

    .sec-title {
        width: 100%;
        text-align: center;
        font-weight: bold;
        font-size: 1.2rem;
        margin-bottom: 20px;
    }
}

.slider {
    width: 100%;
    height: 100px;
    display: flex;

    .slide-item {
        width: 180px;
        height: 100px;
        background-color: #D9D8D8;
        margin: 0 10px;
    }
}

// アバウト
#about {
    margin-bottom: 50px;

    .about-content-area {
        display: flex;
        margin-bottom: 30px;

        @include sp {
            flex-direction: column;
        }
    }

    .about-content-left {
        width: 50%;

        @include sp {
            width: 100%;
        }

        .sec-title {
            font-size: 5rem;
            font-weight: bold;
            margin-bottom: 10px;
            text-align: left;
        }

        .sub-title {
            font-size: 1.8rem;
            font-weight: bold;
        }

        p {
            margin-bottom: 30px;
        }
    }

    .about-content-right {
        width: 50%;
        height: 400px;
        background-color: #D9D8D8;
        margin-left: 30px;

        @include sp {
            width: 100%;
            margin-left: 0;
        }
    }

    .about-content-bottom {
        width: 100%;
        height: 300px;
        background-color: #D9D8D8;
    }
}

// 選ばれる理由
#reason {
    padding: 50px 0;
    background-color: #ffebd9;

    .reason-content-area {
        display: flex;

        @include tab {
            flex-direction: column;
        }

        .reason-content-left {
            width: 50%;
            height: 400px;
            background-color: #D9D8D8;
            margin-right: 30px;

            @include tab {
                width: 100%;
                margin-right: 0;
                margin-bottom: 30px;
            }
        }

        .reason-content-right {
            width: 50%;

            @include tab {
                width: 100%;
            }
        }
    }
}

.reason-list {
    margin-left: 100px;

    @include sp {
        margin: 0 auto;
    }

    li {
        font-size: 1.2rem;
        margin-bottom: 30px;
        font-weight: bold;

    }
}

// サービスートップページ
#service {
    padding: 50px 0;
}

.service-list {
    display: flex;
    margin-bottom: 50px;

    @include sp {
        flex-direction: column;
        margin-bottom: 0;
    }

    &.up {
        justify-content: space-between;
    }

    &.under {
        justify-content: space-around;
    }

    li {
        width: 180px;

        @include sp {
            width: 100%;
            margin-bottom: 30px;
        }

        .service-list-title {
            font-weight: bold;
            width: 100%;
            text-align: center;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;

            @include sp {
                font-size: 1.5rem;
                text-align: left;
                height: auto;
                display: block;
            }
        }

        .img-area {
            width: 100%;
            height: 400px;
            background-color: #D9D8D8;
            margin: 20px 0;
        }
    }
}

.othermenu-list {
    display: flex;
    justify-content: space-between;

    @include sp {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    li {
        width: 100%;
        margin: 0 10px;

        @include sp {
            width: calc(100% / 3);
            margin: 0 0 30px 0;
        }

    }

    .othermenu-list-title {
        width: 100%;
        text-align: center;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .img-area {
        width: 100px;
        height: 100px;
        background-color: #D9D8D8;
        margin: 0 auto;
    }
}

// 制作事例
.works-post {
    padding: 50px 0;
    background-color: #ffebd9;
}

.works-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    margin-bottom: 50px;

    @include sp {
        grid-template-columns: 1fr;
    }

    .img-area {
        width: 100%;
        height: 300px;
        background-color: #D9D8D8;
    }

    .works-list-title {
        font-weight: bold;
        padding: 20px 0;
    }
}

// 取引実績
#client {
    padding: 50px 0;
}

.client-list-logo {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;

    li {
        width: 25%;

        @include sp {
            width: 50%;
        }

        .img-area {
            width: 100%;
            height: 150px;
            background-color: #D9D8D8;
        }
    }
}

.client-list-area {
    display: flex;
    flex-wrap: wrap;

    .client-list-name {
        width: 25%;

        @include tab {
            width: 50%;
        }

        @include sp {
            width: 100%;
            text-align: center;
        }

        li {
            line-height: 1.5;
        }
    }
}

// お問い合わせートップページ
#contact {
    background-color: #4D4D4D;
    color: #fff;
    padding: 50px 0 70px 0;
    vertical-align: middle;

    @include sp {
        display: none;
    }
}

.contact-list {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;

    .contact-list-item {
        width: calc(100% / 3);
        padding: 20px 0;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 8px rgb(30, 30, 30);
        margin: 0 10px;
        transition: transform 0.3s;

        &:hover {
            transform: translate(0, -10px);
            /* 上に10px移動 */
        }
    }

    .contact-btn {
        display: block;
        color: #333;



        .contact-list-title {
            width: 100%;
            text-align: center;
            font-weight: bold;
            font-size: 1.2rem;
            margin-bottom: 10px;
        }

        p {
            width: 100%;
            text-align: center;
            margin-bottom: 10px;
        }

        img {
            display: block;
            width: 40px;
            margin: 0 auto;
        }
    }
}

.tel-area {
    display: flex;
    align-items: flex-end;
    margin: 0 auto;
    width: fit-content;


    a {
        display: block;
        font-weight: bold;
        font-size: 1.6rem;
        margin: 0 20px;
    }

    p {
        font-size: 1.1rem;
    }
}

// 右側サイドバー
.right-fixed-nav {
    position: fixed;
    right: 0;
    top: 0;
    width: 80px;
    height: 100vh;
    z-index: 8000;
    background: rgba(254, 254, 254, 0.6);
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    display: flex;
    align-items: center;
    justify-content: center;

    @include tab {
        width: 50px;
    }

    @include sp {
        display: none;
    }

    .cont01,
    .cont02 {
        margin-bottom: 40px;
        position: relative;

        &::after {
            content: "";
            display: block;
            width: 22px;
            height: 2px;
            background: #afafaf;
            position: absolute;
            left: 0;
            right: 0;
            bottom: -20px;
            margin-left: auto;
            margin-right: auto;
        }

        a {
            line-height: 1.2;
            color: #000;
            font-weight: bold;
        }
    }

    .cont03 {
        margin-bottom: 40px;

        a {
            line-height: 1.2;
            color: #000;
            font-weight: bold;
        }
    }
}

// 選ばれる理由
.reason-title-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 0;
}

.reason-item-title {
    font-weight: bold;
    font-size: 1.8rem;
}

.reason-item-title-en {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.box-number {
    font-size: 12rem;
    font-weight: bold;
    color: #666;
    position: absolute;
    padding: 0;
}

.box-text {
    text-align: justify;
    line-height: 2.5;
}

.box-flex-area {
    display: flex;

    &:last-child {
        margin-bottom: 200px;
    }

    .box-flex-left {
        width: 50%;
        padding: 0 20px;
    }

    .box-flex-right {
        width: 50%;
        padding: 0 20px;
        transform: translate(0, 20%);
    }

    .box-text {
        border-bottom: 3px solid #333;
    }
}

.img-area {
    background-color: #333;
    width: 100%;
    height: 300px;
    position: relative;
}

.box01 {
    .box-number {
        right: 0;
        bottom: 0px;
        transform: translate(0, 80%);
    }
}

.box02 {
    .box-number {
        right: 0;
        bottom: 0px;
        transform: translate(0, 50%);
    }
}

.box03 {
    margin-top: 200px;
    margin-bottom: 50px;

    .box-number {
        left: 200px;
        bottom: 0px;
    }
}

.box04 {
    .box-number {
        right: 0;
        bottom: 0px;
    }
}

.box05 {
    .box-number {
        right: 0;
        bottom: 0px;
        transform: translate(0, 50%);
    }
}

.contact {
    background-color: #ffebd9;
    padding: 50px 0;

    .contact-text {
        width: 100%;
        font-size: 1.3rem;
        font-weight: bold;
        text-align: center;
        background-color: #D9D8D8;
        line-height: 4;
        margin-bottom: 50px;
    }
}

.reason-page-service {
    .othermenu-list {
        flex-direction: column;

        li {
            display: flex;
        }

        .img-area {
            width: 40%;
            margin-right: 30px;
        }
    }

    .othermenu-list-right {
        width: 60%;

        .ohtermenu-list-title {
            text-align: left;
        }
    }
}

// サービスページ
.service-pagetop {
    height: 100vh;
}

.service-pagetop-text-area {
    width: 500px;

    .sec-title {
        text-align: left;
    }

    .sec-title-ja {
        text-align: left;
    }
}

.service-pagetop-text {
    margin-top: 100px;

    h4 {
        font-size: 2rem;
        margin-bottom: 100px;
    }

    p {
        width: 250px;
        text-align: justify;
    }
}

.service-page {
    .othermenu-list {
        flex-direction: column;
        border-bottom: 1px solid #333;
    }

    .ohtermanu-item {
        display: flex;
        align-items: center;
        margin: 30px 0;

    }

    .img-area {
        width: 50%;
        height: 150px;
        margin-right: 30px;
    }

    .othermenu-list-text {
        width: 50%;
    }

    .othermenu-list-title {
        text-align: left;
        font-size: 1.2rem;
    }
}

.faq {
    text-align: center;
    padding: 50px 0;

    .img-container {
        width: 100%;
        position: relative;

        &::before {
            position: absolute;
            top: 50%;
            content: "";
            display: block;
            width: 100%;
            height: 1px;
            background-color: #333;
            z-index: -1;
        }

        img {
            width: 300px;
        }
    }
}

// ワークスページ
#works {
    margin-bottom: 50px;

    .works-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;

        li {
            margin-bottom: 30px;
        }
    }

    .img-area {
        height: 160px;
    }

    .works-list-menu {
        display: inline-block;
        font-size: 0.7rem;
        margin-right: 5px;
        padding-right: 5px;
        border-right: 1px solid #333;
    }
}

// マガジンページ


// 会社概要
.page-top-img {
    height: 50vh;
    width: 100%;
    text-align: center;

    img {
        max-width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.information-nav {
    width: 100%;
    height: 80px;
    background-color: #ffebd9;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;

    .information-nav-item {
        margin: 0 50px;
        position: relative;

        &::before {
            display: block;
            position: absolute;
            content: "";
            width: 10px;
            height: 10px;
            border-bottom: 2px solid #6c6c6c;
            border-right: 2px solid #6c6c6c;
            transform: rotate(-45deg);
            left: -20px;
        }
    }
}

#philosophy {
    margin-bottom: 50px;
}

.philosophy-detail-area {
    display: flex;

    .img-area {
        width: 45%;
        height: auto;
        margin-right: 30px;
    }

    .detail {
        width: 55%;
    }
}

.detail-item {
    margin-bottom: 50px;

    .detail-item-title {
        color: #4D4D4D;
        font-weight: bold;
        font-size: 1.2rem;
        margin-bottom: 10px;
    }

    .detail-item-subtitle {
        color: #4D4D4D;
        font-weight: bold;
        font-size: 1.6rem;
        margin-bottom: 20px;
    }
}

// 会社概要
#company {
    margin-bottom: 50px;
}

.company-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;

    dt {
        width: 40%;
        text-align: center;
        padding: 20px 0;
        border-bottom: 1px solid #c7c7c7;

        &:last-of-type {
            border-bottom: 0;
        }
    }

    dd {
        width: 60%;
        padding: 20px 0;
        border-bottom: 1px solid #c7c7c7;

        &:last-of-type {
            border-bottom: 0;
        }
    }
}

iframe {
    width: 100%;
    height: 300px;
}

// FAQ
.page-comment {
    width: 100%;
    margin: 0 auto 100px;
    text-align: center;
}

.block-title {
    width: 100%;
    text-align: center;
    font-size: 1.7rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.faq-block-list {
    li {
        width: 100%;
        background-color: #ffebd9;
        margin: 20px 0;
        padding: 30px 20px;
    }
}