@mixin sp {
    @media(max-width: 769px) {
        @content;
    }
}

@mixin tab {
    @media(max-width: 1100px) {
        @content;
    }
}

.mv {
    width: 100%;
    height: 600px;
    background-color: #D9D8D8;
    margin-top: 80px;
    margin-bottom: 30px;
    position: relative;

    @include sp {
        height: 84svh;
        margin-top: clamp(50px, 16vw, 16vh);
        ;
    }

    /*スクロールダウン全体の場所*/
    .scrolldown4 {
        /*描画位置※位置は適宜調整してください*/
        position: absolute;
        bottom: 1%;
        right: 50%;
        /*矢印の動き1秒かけて永遠にループ*/
        animation: arrowmove 1s ease-in-out infinite;
    }

    /*下からの距離が変化して全体が下→上→下に動く*/
    @keyframes arrowmove {
        0% {
            bottom: 1%;
        }

        50% {
            bottom: 3%;
        }

        100% {
            bottom: 1%;
        }
    }

    /*Scrollテキストの描写*/
    .scrolldown4 span {
        /*描画位置*/
        position: absolute;
        left: -20px;
        bottom: 10px;
        /*テキストの形状*/
        color: #333;
        font-size: 0.7rem;
        letter-spacing: 0.05em;
        /*縦書き設定*/
        -ms-writing-mode: tb-rl;
        -webkit-writing-mode: vertical-rl;
        writing-mode: vertical-rl;
    }

    /* 矢印の描写 */
    .scrolldown4:before {
        content: "";
        /*描画位置*/
        position: absolute;
        bottom: 0;
        right: -6px;
        /*矢印の形状*/
        width: 1px;
        height: 20px;
        background: #333;
        transform: skewX(-31deg);
    }

    .scrolldown4:after {
        content: "";
        /*描画位置*/
        position: absolute;
        bottom: 0;
        right: 0;
        /*矢印の形状*/
        width: 1px;
        height: 50px;
        background: #333;
    }

}

// 支援実績 スライド
#achievements {
    margin-bottom: 100px;

    .sec-title {
        width: 100%;
        text-align: center;
        font-weight: bold;
        font-size: 1.2rem;
        margin-bottom: 20px;
    }
}

.slider {
    width: 100%;
    height: 100px;
    display: flex;

    .slide-item {
        width: 180px;
        height: 100px;
        background-color: #D9D8D8;
        margin: 0 10px;
    }
}

// アバウト
#about {
    margin-bottom: 50px;

    .wrapper {
        padding: 0 2%;
    }

    .about-content-area {
        display: flex;
        margin-bottom: 30px;

        @include sp {
            flex-direction: column;
        }
    }

    .about-content-left {
        width: 50%;

        @include sp {
            width: 100%;
        }

        .sec-title {
            font-size: 5rem;
            font-weight: bold;
            margin-bottom: 10px;
            text-align: left;
        }

        .sub-title {
            font-size: 1.8rem;
            font-weight: bold;
        }

        p {
            margin-bottom: 30px;
        }
    }

    .about-content-right {
        width: 50%;
        height: 400px;
        background-color: #D9D8D8;
        margin-left: 30px;

        @include sp {
            width: 100%;
            margin-left: 0;
        }
    }

    .about-content-bottom {
        width: 100%;
        height: 300px;
        background-color: #D9D8D8;
    }
}

// トップページ選ばれる理由
#toppage-reason {
    padding: 50px 0;
    background-color: #ffebd9;

    .reason-content-area {
        display: flex;

        @include tab {
            flex-direction: column;
        }

        .reason-content-left {
            width: 50%;
            height: 400px;
            background-color: #D9D8D8;
            margin-right: 30px;

            @include tab {
                width: 100%;
                margin-right: 0;
                margin-bottom: 30px;
            }
        }

        .reason-content-right {
            width: 50%;
            list-style-type: decimal-leading-zero;
            list-style-position: inside;

            @include tab {
                width: 100%;
            }
        }
    }
}

.reason-list {
    width: fit-content;
    margin: 0 auto;

    li {
        font-size: 1.2rem;
        margin-bottom: 30px;
        font-weight: bold;
    }

    span {
        font-size: 1.3rem;
        color: #6c6c6c;
        margin-right: 20px;
    }
}

// トップページサービス
.service {
    padding: 50px 0;
}

.service-list {
    display: flex;
    margin-bottom: 50px;
    justify-content: space-between;

    @include sp {
        flex-direction: column;
        margin-bottom: 0;
    }

    li {
        max-width: 130px;
        display: flex;
        flex-direction: column;

        @include sp {
            max-width: 100%;
            padding: 0 0 50px;
        }

        .service-list-title {
            font-weight: bold;
            width: 100%;
            text-align: center;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;

            @include sp {
                font-size: 1.5rem;
                text-align: left;
                height: auto;
                display: block;
            }
        }

        p {
            padding: 0 10px 0;
            height: 130px
        }

        img {
            width: 100%;
            height: 400px;
            margin: 20px 0;
            object-fit: cover;
            object-position: center;
        }

        .branding {
            img {
                object-position: left;
            }
        }

    }
}

.othermenu {
    margin-bottom: 50px;
}

.othermenu-list {
    display: flex;
    justify-content: space-between;

    @include sp {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    li {
        width: 100%;
        margin: 0 10px;

        @include sp {
            max-width: calc(100% / 3);
            margin: 0 0 30px;
        }
    }

    .othermenu-list-title {
        width: 100%;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .lllust {
        display: block;
        width: 70px;
        height: 70px;
        object-fit: contain;
        margin: 0 auto;
    }

    img {
        display: block;
        width: 350px;
        height: 200px;
        object-fit: cover;
        margin: 0 auto;
    }
}

// 制作事例　投稿
.works-post {
    padding: 50px 0;
    background-color: #ffebd9;
}

.works-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    margin-bottom: 50px;

    @include sp {
        grid-template-columns: 1fr;
    }

    .img-area {
        width: 100%;
        height: 300px;
        background-color: #D9D8D8;
    }

    .works-list-title {
        font-weight: bold;
        padding: 20px 0;
    }
}

// 取引実績
#client {
    padding: 50px 0;
}

.client-list-logo {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;

    li {
        width: 25%;

        @include sp {
            width: 50%;
        }

        .img-area {
            width: 100%;
            height: 150px;
            background-color: #D9D8D8;
        }
    }
}

.client-list-area {
    display: flex;
    flex-wrap: wrap;

    .client-list-name {
        width: 25%;
        padding: 10px;

        @include tab {
            width: 50%;
        }

        @include sp {
            width: 100%;
            text-align: center;
        }

        li {
            line-height: 1.5;
        }
    }
}

// ページボトムお問い合わせ
#contact {
    background-color: #4D4D4D;
    color: #fff;
    padding: 50px 0 70px 0;
    vertical-align: middle;

    @include sp {
        display: none;
    }
}

.contact-list {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;

    .contact-list-item {
        width: calc(100% / 3);
        padding: 20px 0;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 8px rgb(30, 30, 30);
        margin: 0 10px;
        transition: transform 0.3s;

        &:hover {
            transform: translate(0, -10px);
            /* 上に10px移動 */
        }
    }

    .contact-btn {
        display: block;
        color: #333;



        .contact-list-title {
            width: 100%;
            text-align: center;
            font-weight: bold;
            font-size: 1.2rem;
            margin-bottom: 10px;
        }

        p {
            width: 100%;
            text-align: center;
            margin-bottom: 10px;
        }

        img {
            display: block;
            width: 40px;
            margin: 0 auto;
        }
    }
}

.tel-area {
    display: flex;
    align-items: flex-end;
    margin: 0 auto;
    width: fit-content;


    a {
        display: block;
        font-weight: bold;
        font-size: 1.6rem;
        margin: 0 20px;
    }

    p {
        font-size: 1.1rem;
    }
}



// 選ばれる理由
.reason-title-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 0;
}

.reason-item-title {
    font-weight: bold;
    font-size: 1.8rem;
}

.reason-item-title-en {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.box-number {
    font-size: 12rem;
    font-weight: bold;
    color: #666;
    position: absolute;
    padding: 0;
}

.box-text {
    text-align: justify;
    line-height: 2.5;
}

.box-flex-area {
    display: flex;

    @include sp {
        flex-direction: column;
    }

    &:last-child {
        margin-bottom: 200px;

        @include sp {
            margin-bottom: 50px;
        }
    }

    .box-flex-left {
        width: 50%;
        padding: 0 20px;

        @include sp {
            width: 100%;
            padding: 0;
            margin-bottom: 50px;
        }
    }

    .box-flex-right {
        width: 50%;
        padding: 0 20px;
        transform: translate(0, 20%);

        @include sp {
            width: 100%;
            padding: 0;
            transform: translate(0, 0);
            margin-bottom: 50px;
        }
    }

    .box-text {
        padding: 20px 0;
        border-bottom: 3px solid #333;
    }
}

.img-area {
    background-color: #333;
    width: 100%;
    height: 300px;
    position: relative;
}

.box01 {
    .box-number {
        right: 0;
        bottom: 0px;
        transform: translate(0, 80%);

        @include sp {
            transform: translate(0, 0);
        }
    }
}

.box02 {
    .box-number {
        right: 0;
        bottom: 0px;
        transform: translate(0, 50%);

        @include sp {
            transform: translate(0, 0);
        }
    }
}

.box03 {
    margin-top: 200px;
    margin-bottom: 120px;

    @include sp {
        margin-top: 0;
        border-bottom: 3px solid #333;
    }

    .box-number {
        left: 200px;
        bottom: 0px;

        @include sp {
            left: initial;
            right: 0;
        }
    }
}

.box04 {
    .box-number {
        right: 0;
        bottom: 0px;
    }
}

.box05 {
    .box-number {
        right: 0;
        bottom: 0px;
        transform: translate(0, 50%);

        @include sp {
            transform: translate(0, 0);
        }
    }
}

.contact {
    background-color: #ffebd9;
    padding: 50px 0;

    .contact-text {
        width: 100%;
        font-size: 1.4rem;
        font-weight: bold;
        text-align: center;
        background-color: #D9D8D8;
        line-height: 4;
        margin-bottom: 50px;

        @include sp {
            line-height: 2;
            padding: 20px;
        }
    }

    .contact-list {
        width: 100%;

        @include sp {
            flex-direction: column;

            .contact-list-item {
                width: 100%;
                margin: 0 auto 30px;

            }

        }
    }

    @include sp {
        .tel-area {
            flex-direction: column;
            align-items: center;
        }
    }
}

.reason-page-service {
    .othermenu-list {
        flex-direction: column;

        li {
            display: flex;
        }

        .img-area {
            width: 40%;
            margin-right: 30px;
        }
    }

    .othermenu-list-right {
        width: 60%;

        .ohtermenu-list-title {
            text-align: left;
        }
    }
}

// サービスページ
.service-pagetop {
    height: 100vh;
}

.service-pagetop-text-area {
    width: 500px;

    .sec-title {
        text-align: left;
    }

    .sec-title-ja {
        text-align: left;
    }
}

.service-pagetop-text {
    margin-top: 100px;

    h4 {
        font-size: 2rem;
        margin-bottom: 100px;
    }

    p {
        width: 250px;
        text-align: justify;
    }
}

#othermenu {
    .othermenu-list {
        flex-direction: column;
        border-bottom: 1px solid #333;
    }

    .ohtermanu-item {
        display: flex;
        align-items: center;
        margin: 30px 0;

        @include sp {
            flex-direction: column;
            width: 100%;
        }

    }

    .img-area {
        width: 50%;
        height: 150px;
        margin-right: 30px;

        @include sp {
            width: 100%;
        }
    }

    .othermenu-list-text {
        width: 50%;

        @include sp {
            width: 100%;
        }
    }

    .othermenu-list-title {
        text-align: left;
        font-size: 1.2rem;
    }
}

.faq {
    text-align: center;
    padding: 50px 0;

    .img-container {
        width: 100%;
        position: relative;

        &::before {
            position: absolute;
            top: 50%;
            content: "";
            display: block;
            width: 100%;
            height: 1px;
            background-color: #333;
            z-index: -1;
        }

        img {
            width: 300px;
        }
    }
}

// ワークスアーカイブページ
#works {
    margin-bottom: 50px;

    .post-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;

        @include sp {
            grid-template-columns: repeat(2, 1fr);
        }

        li {
            margin-bottom: 30px;
        }
    }
}

// マガジンアーカイブページ
#magazine {
    margin-bottom: 50px;

    .post-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;

        @include sp {
            grid-template-columns: repeat(2, 1fr);
        }

        li {
            margin-bottom: 30px;
        }
    }
}


.img-area {
    height: 160px;
}

.post-list-menu {
    display: inline-block;
    font-size: 0.7rem;
    margin-right: 5px;
    padding-right: 5px;
    border-right: 1px solid #333;
}

// 会社概要
.page-top-img {
    width: 100%;
    text-align: center;

    img {
        width: 100%;
        height: 50vh;
        object-fit: contain;
    }
}

.information-nav {
    width: 100%;
    background-color: #ffebd9;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    padding: 20px 40px;

    .information-nav-item {
        padding: 0 30px;
        background-image: url(/img/arrow_forward_ios_24dp_6C6C6C_FILL0_wght400_GRAD0_opsz24.png);
        background-position: 10px, 50%;
        background-size: 15px;
        background-repeat: no-repeat;
    }
}

#philosophy {
    margin-bottom: 50px;
}

.philosophy-detail-area {
    display: flex;

    @include sp {
        flex-direction: column;
    }

    .img-area {
        width: 45%;
        height: auto;
        margin-right: 30px;

        @include sp {
            width: 100%;
            margin-right: 0;
            height: 300px;
            margin-bottom: 50px;
        }
    }

    .detail {
        width: 55%;

        @include sp {
            width: 100%;
        }
    }
}

.detail-item {
    margin-bottom: 50px;

    .detail-item-title {
        color: #4D4D4D;
        font-weight: bold;
        font-size: 1.2rem;
        margin-bottom: 10px;
    }

    .detail-item-subtitle {
        color: #4D4D4D;
        font-weight: bold;
        font-size: 1.6rem;
        margin-bottom: 20px;
    }
}

// 会社概要
#company {
    margin-bottom: 50px;
}

.company-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;

    dt {
        width: 40%;
        text-align: center;
        padding: 20px 0;
        border-bottom: 1px solid #c7c7c7;

        &:last-of-type {
            border-bottom: 0;
        }

        @include sp {
            width: 100%;
            text-align: left;
            border-bottom: 0;
            border-top: 1px solid #c7c7c7;
            padding: 20px 0 0;
        }
    }

    dd {
        width: 60%;
        padding: 20px 0;
        border-bottom: 1px solid #c7c7c7;
        padding: 20px 0 20px;

        &:last-of-type {
            border-bottom: 0;
        }

        @include sp {
            width: 100%;

        }
    }
}

iframe {
    width: 100%;
    height: 300px;
}

// FAQ
.page-comment {
    width: 100%;
    margin: 0 auto 100px;
    text-align: center;
}

.block-title {
    width: 100%;
    text-align: center;
    font-size: 1.7rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.faq-block {
    margin-bottom: 50px;
}

.faq-block-list {
    li {
        width: 100%;
        background-color: #ffebd9;
        margin: 20px 0;
        padding: 20px 10%;
        background-image: url(/img/arrow_forward_32dp_FFF_FILL1_wght700_GRAD200_opsz40.png);
        background-position: 95% 50%;
        background-size: 30px;

        &::before {
            content: "Q";
            font-weight: bold;
            font-size: 1.8rem;
            margin-right: 10px;
        }
    }
}

button {
    width: 100%;
    text-align: right;
    font-weight: bold;

    &::before {
        content: "＋";
        font-size: 1.2rem;
    }
}

// シングルページ　マーケティング
.singlepage-mv {
    width: 100%;

    img {
        width: 100%;
        height: 50vh;
        object-fit: cover;
        object-position: top -200px left 0;
    }
}

.sec-title-singlepage {
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 50px 0;
}

.catchphrase-singlepage {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 70px;
}

.problem {
    background-color: #FFEBD9;
    padding-bottom: 50px;

    .sec-title {
        transform: translateY(-50%)
    }
}

.problem-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;

    li {
        font-weight: bold;
        background-image: url(/img/check_box_outline_blank_24dp_6C6C6C_FILL0_wght400_GRAD0_opsz24.png);
        background-position: left 0 top 5px;
        background-repeat: no-repeat;
        background-size: 20px;
        padding-left: 20px;
        font-size: 1.3rem;
    }
}

.why {
    margin: 50px 0;
}

.why-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.why-list-item {

    img {
        width: 100%;
    }

    p {
        &:first-of-type {
            font-weight: bold;
            margin: 20px 0;
        }
    }
}

.solution {
    background-color: #4D4D4D;
    color: #fff;
    padding: 100px 0 50px;

    p {
        width: 100%;
        text-align: center;
    }
}

.solution-list {
    margin-bottom: 30px;
}

.solution-list-item {
    font-size: 2.1rem;
    font-weight: bold;
    line-height: 2;

    span {
        font-size: 2.1rem;
        color: #a6a6a6;
        margin-right: 20px;
    }
}

.menu {
    padding: 50px 0;
}

.menu-content-flex {
    display: flex;
}

.content-left {
    width: 40%;
    margin-right: 30px;

    .img-area {
        width: 100%;
        height: 300px;
        margin-bottom: 30px;
    }
}

.content-right {
    width: 60%;

    .cont-box {
        margin-bottom: 30px;
    }

    h3 {
        font-size: 1.5rem;
        font-weight: bold;
    }

    p {
        text-align: justify;
    }
}

.content-bottom {
    margin: 50px 0;

    .cont-box {
        width: 50%;
        margin: 10px;

        h3 {
            width: 100%;
            text-align: center;
            font-weight: bold;
            line-height: 3;
        }
    }
}

.faq-box {
    box-shadow: 1px 1px 0px gray;
    padding: 30px;
    position: relative;

    .faq-box-item {
        display: block;
        text-align: left;
        width: 100%;
        padding-left: 50px;
        line-height: 2;
        font-weight: bold;

        &::before {
            content: "Q";
            font-weight: bold;
            font-size: 1.2rem;
            margin-right: 10px;
        }
    }

    .more-btn{
        position: absolute;
        right: 30px;
        bottom: 20px;
    }
}