body {
    font-family: 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'MS Ｐゴシック', 'MS PGothic', sans-serif;
    font-size: 14px;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2%;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 2%;
}

p,li{
    line-height: 1.5;
}
.page-top-margin {
    margin-top: 100px;
}

.sec-title {
    width: 100%;
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.sec-title-ja {
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.more-btn {
    display: block;
    color: #fff;
    background-color: #333;
    text-align: center;
    width: 140px;
    height: 50px;
    margin: 20px auto 0 auto;
    border-radius: 40px;
    line-height: 50px;

    &:hover {
        background-color: #fff;
        border: 2px solid #333;
        transition: all 0.5s;
        color: #333;
        box-sizing: border-box;
    }
}

.pagination {
    display: flex;
    align-items: center;
    margin-inline: auto;
    color: #fff;
    max-width: 330px;

    #pagination {
        display: inline-block;
        width: 300px;
        background-color: #4d4d4d;
        text-align: center;
        height: 50px;
        appearance: none;
        position: relative;

        &::before {
            position: absolute;
            display: block;
            content: "";
            width: 30px;
            height: 30px;
            right: 0;
            bottom: 0;
            border-bottom: 1px solid #fff;
            border-right: 1px solid #fff;
            z-index: 5;
            background-color: rgba(255, 255, 255, 0.3);
        }
    }

    #next-btn {
        width: 80px;
        display: inline-block;
        background-color: #333;
        text-align: center;
        line-height: 50px;
    }
}