@mixin sp {
    @media(max-width: 769px) {
        @content;
    }
}

@mixin tab {
    @media(max-width: 1100px) {
        @content;
    }
}

header {
    width: 100vw;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    background-color: #fff;
    box-shadow: 0 0 10px #333;
    font-size: 1rem;


    @include sp {
        height: clamp(50px, 16vw, 16vh); // 最小50px, 最大80px, 画面幅に応じて変化
    }

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;

        @include sp {
            align-items: flex-start;
        }
    }
}

.site-logo {
    width: 20vh;
    margin: 0;

    a {
        display: block;
        width: 100%;

        img {
            width: 100%;
            height: 80px; // 最小50px, 最大80px, 画面幅に応じて変化
            object-fit: cover;
            vertical-align: top;

            @include sp {
                height: clamp(50px, 16vw, 16vh); // 最小50px, 最大80px, 画面幅に応じて変化
            }
        }
    }
}

.header-nav {
    @include sp {
        display: none;
    }

    .contact-list {
        display: none;
    }
}

.header-nav-list {
    display: flex;

    li {
        margin-left: 20px;

        a:hover {
            opacity: 0.6;
            transition: all 0.5s;
        }
    }
}

.header-right {
    display: none;

    @include sp {
        display: flex;
        width: 32vw;
    }
}

.header-tel-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: clamp(50px, 16vw, 16vh); // 最小50px, 最大80px, 画面幅に応じて変化
    background-color: #ffebd9;
}

.hamburger {
    display: block;
    width: 50%;
    height: clamp(50px, 16vw, 16vh); // 最小50px, 最大80px, 画面幅に応じて変化
    background-color: #333;
    padding: 0 15% 0 15%;
    position: relative;

    span {
        display: block;
        content: "";
        width: 100%;
        height: 1px;
        background-color: #fff;
        text-align: center;
        position: absolute;

        &:nth-child(1) {
            top: 30%;
        }

        &:nth-child(2) {
            top: 50%;
        }

        &:nth-child(3) {
            top: 70%;
        }
    }
}

@include sp {
    header.active {
        position: relative;

        .hamburger {
            z-index: 150;

            span {

                &:nth-child(1) {
                    top: 50%;
                    transform: rotate(45deg);
                }

                &:nth-child(2) {
                    display: none;
                }

                &:nth-child(3) {
                    top: 50%;
                    transform: rotate(-45deg);
                }
            }
        }

        .header-nav {
            position: absolute;
            top: clamp(50px, 16vw, 16vh);
            display: block;
            width: 100%;
            height: auto;
            z-index: 150;
            background: rgba(0, 0, 0, 0.8);
            overflow: scroll;
            overflow-y: auto;
            font-weight: bold;

            .header-nav-list {
                flex-direction: column;
                width: 100%;
                padding: 0 5%;
                color: #fff;

                li {
                    line-height: 4;
                    border-bottom: 1px solid #fff;
                    background-image: url(/img/arrow_right_16dp_FFF_FILL1_wght400_GRAD0_opsz20.png);
                    background-position: -10px, 50%;
                    background-size: 45px;
                    padding: 0 20px;
                }
            }


            .contact-list {
                display: flex;
                flex-direction: column;
                width: 100%;
                padding: 0 5%;

                li {
                    width: 100%;
                    margin-bottom: 30px;
                }
            }
        }
    }

}